{% extends 'base2.html' %}


{% block content %}

<!-- /about-->
<div class="w3l-ab-grids py-5 my-lg-3" style="margin-bottom:0;">
    <div class="container py-lg-4">
        <div class="row ab-grids-sec">
            <div class="col-lg-12 text-center">
                <h3 style="display:inline;" class="hny-title ab-left mr-2">{{actor}}</h3>
                <img style="display:inline;" class="mr-3 rounded-circle ab-right" src="{{actor.image.url}}" width="300" height="300">
            </div>
        </div>

    </div>
</div>
<!-- //about-->

<!--grids-sec1-->
<div class="w3l-grids" style="margin-top:0; margin-bottom:25px;">
    <div class="grids-main py-0">
        <div class="container py-lg-0">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">{{movies|length}} Movies</h3>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                
                {% for movie in movies %}
                    
                <div class="item vhny-grid">
                    <div class="box16 mb-0" style="width:250px; height:350px;">
                        <a href="{% url 'movies:movie_details' movie.slug %}">
                            <figure style="width:250px; height:350px;">
                                <img style="width:250px; height:350px;" class="img-fluid" src="{{movie.image.url}}" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">{{movie}}</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
</div>
<!--//grids-sec1-->

{% endblock content %}