{% extends 'base2.html' %}
{% load static %}
{% load django_template_maths %}

{% block content %} 

<!--/breadcrumbs -->
<div class="w3l-breadcrumbs">
    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
            <a href="{% url 'movies:movies' %}">Home</a> » <span class="breadcrumb_last" aria-current="page">Genre</span>
        </div>
    </nav>
</div>
<!--//breadcrumbs -->
<!--/genre -->

<!--grids-sec1-->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-4">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">{{season}} Epsoides</h3>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                
                {% for epsoide in epsoides %}
                        
                <div class="item vhny-grid">
                    <div class="box16 mb-0" style="width:270px; height:350px;">
                        <a href="{% url 'movies:epsoide_details' epsoide.id %}">
                            <figure style="width:270px; height:350px;">
                                <img style="width:270px; height:350px;" class="img-fluid" src="{{season.series.image.url}}" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">{{epsoide}}</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="button-center text-center mt-3">
            <a href="#" class="btn view-button">View all <span class="fa fa-angle-double-right ml-2"
                    aria-hidden="true"></span></a>
        </div>

    </div>
</section>
<!--//grids-sec1-->

{% endblock content %}

